.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #F6D55C;
  }
  
  .tabs {
    display: flex;
    gap: 20px;
  }
  
  .tab {
    padding: 10px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    font-size: 16px;
  }
  
  .actions {
    display: flex;
    gap: 20px;
  }
  
  .filterButton {
    padding: 10px;
    border: none;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
  }